<p>This is a example app to demonstrate how to use http-caching with Rack:Cache and Memcached on the Heroku Cedar stack </p>
<p>For more information on http-caching, take a look at <%= link_to 'Ryan Bates screencast #321', 'http://railscasts.com/episodes/321-http-caching' %></p>
<p>This page was rendered at <%= Time.now %></p>
