<!DOCTYPE html>
<html>
<head>
  <title>RackCacheExample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Rack Cache Example</h1>
  </header>
  <div role="main">
    <%= yield %>
  </div>

</body>
</html>
